<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="8" android:versionName="1.6"
    package="org.blanco.lacuenta" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:allowClearUserData="true"
        android:debuggable="false" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name"
            android:name=".MainActivity"
            android:theme="@style/Theme.LaCuenta" android:windowSoftInputMode="stateAlwaysVisible|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SettingsActivity"/>
        <provider
            android:authorities="org.blanco.lacuenta.db.splitscontentprovider" android:name="org.blanco.lacuenta.db.SPLITSContentProvider"/>
        <activity android:name=".SplitsActivity" android:theme="@style/Theme.LaCuenta"/>
        <activity android:name=".as"/>
        <activity android:name=".SplitsChartActivity"/>
        <activity android:name=".FBPostActivity"/>
        <activity android:name=".ContactDeveloperActivity">
            <intent-filter>
            	<action android:name="org.blanco.lacuenta.CONTACT_DEVELOPER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:maxSdkVersion="8" android:minSdkVersion="4" android:targetSdkVersion="8"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
